@charset "utf-8";
*{ margin:0; padding:0;}
body{ padding:3px;}

.caption { background:#353c44; font-size:14px; color:#FFF; padding:5px; margin-bottom:3px;}

.table{ width:100%; border-collapse:collapse;}
.table th{ background:#b9dbe2;}
.table td,.table th{ border:1px solid #a8c7ce; text-align:center; padding:5px;}

