@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{
	background:#152652 url(login_bg.png) repeat-x;
	font-size:12px; color:#adc2d2;
}

#container{
	background:url(login_bg2.png) no-repeat;
	width:1003px;
	height:613px;
	margin:0 auto;
	position:relative;
}

#m_login{
	position:absolute;
	top:325px;
	left:470px;
	width:180px;
	padding:5px;
}
#m_login input{ border: solid 1px #153966; background:#87adbf; width:120px; padding:2px;}
#m_login p{padding-bottom:2px;}


#i_button{
	width:150px;
	height:30px;
	margin:0 auto;
}
#i_button button{ background:url(login_btn.png) no-repeat; width:57px; height:20px; border:0; padding:0; color:#adc2d2;}
#login_btn{ margin-right:27px;}
