@charset "utf-8";
*{ margin:0; padding:0;}
body{ padding:10px; font-size: 14px;}
img{ border:0;}
a:link,a:visited{ color:#369; text-decoration:none;}
a:hover{ color:#F93;}
a.btn:link,a.btn:visited{ color:#FFF; font-weight:normal;}

.caption { background:#353c44 url(tb.gif) 5px 6px no-repeat; color:#ccc; font-size:14px; color:#FFF; padding:5px 5px 5px 25px; margin-bottom:3px;}

.float_right{ float:right;}
.btn_add{ background:url(add.gif) 5px 2px no-repeat; padding-left:20px; margin-right:10px;}
.btn_del{ background:url(del.gif) 5px 2px no-repeat; padding-left:20px;margin-right:10px; }
.btn_edit{ background:url(edit.gif) 5px 2px no-repeat; padding-left:20px;margin-right:10px;}

.table{ width:100%; border-collapse:collapse; color:#353c44; margin-bottom:10px;}
.table th{ background:#b9dbe2;}
.table td,.table th{ border:1px solid #a8c7ce; text-align:center; padding:5px;}
.table th a{cursor:pointer;}
.trhover{ background:#d5f4fe;}
.trselected{ background:#FAF8C5;}

.content{ line-height: 180%; padding: 10px;}
#notice { border: 1px solid #ccc;}
#notice H1{font-size: 20px; text-align: center; line-height: 60px;border-bottom: 1px solid #ccc;}
.post{ border-bottom: 1px dashed #ccc; margin:10px; padding-bottom:5px;}
.post_info{ color: #666;}
.post_content{ padding: 10px 0 10px 30px;}

/*排序表格专用样式*/
thead tr .header {
	background: #b9dbe2 url(asc.gif) no-repeat center right;
	cursor: pointer;
}
thead tr .headerSortUp {
	background: url(asc.gif) no-repeat center right;
}
thead tr .headerSortDown {
	background: url(desc.gif) no-repeat center right;
}